<p-toast position="top-right"></p-toast><p-toast position="top-right"></p-toast>

<form [formGroup]="formGroup" class="p-3">

  <div class="form-wrapper grid grid-cols-1 lg:grid-cols-[360px_1fr] gap-6 items-stretch">

    <!--Primer Bloque-->
    <div class="medidas-card">
      <div class="medidas-grid">

        <!-- Cantidad -->
         <div class="medidas-item">
          <label class="medidas-label">Cantidad</label>
          <input 
          pInputText 
          type="text" 
          formControlName="cantidad" 
          class="medidas-input medidas-m6" />
        </div>

        <!-- Unidad de medida 1-->
         <div class="medidas-item">
          <label class="medidas-label">Uni med</label>
          <p-dropdown
          formControlName="unidadCantidad"
          [options]="unidadesCantidad"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          [editable]="true"
          class="medidas">
         </p-dropdown>
        </div>

        <!-- Ancho -->
         <div class="medidas-item">
          <label class="medidas-label">Ancho</label>
          <input 
          pInputText type="text" 
          formControlName="ancho" 
          class="medidas-input medidas-m6" />
        </div>

        <!-- Unidad de medida 2 -->
         <div class="medidas-item">
          <label class="medidas-label">Uni med</label>
          <input 
          pInputText 
          type="text" 
          formControlName="unidadAncho" 
          class="medidas-input medidas-m3" 
          readonly />
        </div>

        <!-- Largo -->
         <div class="medidas-item">
          <label class="medidas-label">Largo</label>
          <input 
          pInputText 
          type="text" 
          formControlName="largo" 
          class="medidas-input medidas-m6" />
        </div>

        <!-- Unidad de medida 3 -->
         <div class="medidas-item">
          <label class="medidas-label">Uni med</label>
          <input 
          pInputText 
          type="text" 
          formControlName="unidadLargo" 
          class="medidas-input medidas-m3" 
          readonly />
        </div>

        <!-- Espesor -->
         <div class="medidas-item">
          <label class="medidas-label">Espesor</label>
          <input 
          pInputText 
          type="text" 
          formControlName="espesor" 
          class="medidas-input medidas-m6" />
        </div>

        <!-- Unidad de medida 4 -->
         <div class="medidas-item">
          <label class="medidas-label">Uni med</label>
          <input 
          pInputText 
          type="text" 
          formControlName="unidadEspesor" 
          class="medidas-input medidas-m3" 
          readonly />
        </div>
      </div>
     </div>

    <!--Lado Izquierdo--> 
    <div class="flex flex-col gap-5 min-w-0 h-full">

      <p-fieldset class="w-full block" styleClass="fieldset-no-legend" [legend]="''">
        
        <!--Producción>--> 
        
        <div class="produccion-box">
          <div class="produccion-fil">
             <label class="produccion-label">Tipo envío</label>
          <p-dropdown
          [options]="tiposEnvio"
          formControlName="tipoEnvio"
          optionLabel="descripcion"
          placeholder="Seleccione"
          [showClear]="true">
          </p-dropdown>
          </div>
          

            <!--Dropdown list--> 
          <div class="produccion-fil"> 
            <label class="produccion-label">Producción</label>
            <p-dropdown 
              [options]="producciones" 
              formControlName="produccionElegida"
              optionLabel="descripcion" 
              placeholder="Seleccione" 
              [showClear]="true"> 
            </p-dropdown> 
          </div> 
          
           <!--Checkbox--> 
          <div class="checkbox">
            <p-tree 
              [value]="treeNodes" 
              selectionMode="checkbox"
              [(selection)]="selectedNodes"
              (selectionChange)="onTreeSelectChange($event)">
            </p-tree> 
          </div>
          
          <!--Costo produccion--> 
          <div class="costo-produccion">
            <label for="costoProduccion" class="costo-label">Costo producción</label>
            <input
              id="costoProduccion"
              type="text"
              pInputText
              formControlName="costoProduccion"
              class="costo-input"
              readonly
            />
          </div>

          <!--Panel gastos--> 
          <p-panel class="panel" [toggleable]="false">
            <div class="panel-t">Gastos administrativos</div>
            <div class="panel-b">
              <textarea
              pInputTextarea
              formControlName="gastosAdministrativos"
              rows="5"
              class="panel-textarea"
              placeholder="Escriba aquí">
            </textarea>
            </div>
          </p-panel>

        </div> 
      </p-fieldset> 
    </div> 

    <!--Lado Derecho--> 
    <div class="flex flex-col gap-5 min-w-0 h-full"> 
      <p-fieldset class="w-full" styleClass="fieldset-no-legend" [legend]="''">

        <!--Materia prima--> 
        
        <div class="section-title">Materia Prima</div>
        <div class="materia-caja">

            <!--Cantera--> 
            <div class="materia-fil">
                <label class="materia-label">Cantera</label>
                 <p-dropdown
                 [options]="canteras"
                 formControlName="cantera"
                 optionLabel="descripcion"
                 placeholder="Seleccione"
                 [showClear]="true">
                </p-dropdown>
            </div>

            <!--Tipo--> 
            <div class="materia-fil">
                <label class="materia-label">Tipo Bloque</label>
                <p-dropdown
                [options]="tipos"
                formControlName="tipo"
                optionLabel="descripcion"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>
            
            <!--Color
            <div class="materia-fil">
                <label class="materia-label">Color</label>
                <p-dropdown
                [options]="colores"
                formControlName="color"
                optionLabel="descripcion"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>
            --> 
             <!--Costo materia prima--> 
             <div class="costo-ma">
              <label for="costoMateria" class="costo-label">Costo Materia Prima</label>
              <input
              id="costoMateria"
              type="text"
              pInputText
              formControlName="costoMateriaPrima"
              class="costo-input"
              readonly
              />
             </div>

              <!--Checkbox--> 
              <div class="checkbox-em">
                <div class="embalaje-titulo">Embalaje</div>
                  <div class="embalaje-list">

                    <!--Item 1--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeJava" 
                      inputId="embalajeJava"
                      binary="true">
                      </p-checkbox>
                     <label for="embalajeJava">{{ embalajes[0]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 2--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCarton" 
                      inputId="embalajeCarton"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCarton">{{ embalajes[1]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 3--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCajaMadera" 
                      inputId="embalajeCajaMadera"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCajaMadera">{{ embalajes[2]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 4--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCaballete" 
                      inputId="embalajeCaballete"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCaballete">{{ embalajes[3]?.descripcion }}</label>
                    </div>
                  </div>
                </div>
              
              <!--Panel exn-fab--> 
              <p-panel class="panel" [toggleable]="false">
                <div class="panel-t">exn-fab</div>
                <div class="panel-b">
                  <label class="panel-label" for="exnFab">label</label>
                  <textarea
                  id="exnFab"
                  pInputTextarea
                  formControlName="exnFab"
                  rows="5"
                  class="panel-textarea"
                  placeholder="Escribe aquí">
                </textarea>
                </div>
              </p-panel>
              
              <!--Panel flete--> 
              <p-panel class="panel" [toggleable]="false">
                <div class="panel-t">Flete</div>
                <div class="panel-b">
                  <label class="panel-label" for="flete">label</label>
                  <textarea
                  id="flete"
                  pInputTextarea
                  formControlName="flete"
                  rows="5"
                  class="panel-textarea"
                  placeholder="Escribe aquí">
                </textarea>
                </div>
              </p-panel>
            </div>
      </p-fieldset>
      
    </div> 
    
    <div class="form-actions col-span-full">
      <p-button
      type="submit"
      label="Guardar"
      styleClass="p-button-success btn-guardar"
      [disabled]="formGroup.invalid"
      (onClick)="botonGuardar()">
    </p-button>
  </div>

  </div> 
</form>