<form [formGroup]="formGroup">
  <div class="grid grid-cols-1 lg:grid-cols-[360px_1fr] gap-6 items-start"> 
    
    <!--Lado Izquierdo--> 
    <div class="flex flex-col gap-5 min-w-0"> 

      <p-fieldset class="w-full block" styleClass="fieldset-no-legend" [legend]="''">
        
        <!--Producción--> 
        <div class="produccion-titulo">Producción</div> 
        
        <div class="produccion-box"> 

            <!--Dropdown list--> 
          <div class="droplist"> 
            <p-dropdown 
              [options]="producciones" 
              formControlName="selectedCity"
              optionLabel="name" 
              placeholder="Seleccione una ciudad" 
              [showClear]="true"> 
            </p-dropdown> 
          </div> 
          
           <!--Checkbox--> 
          <div class="checkbox">
            <p-tree 
              [value]="treeNodes" 
              selectionMode="checkbox"
              [(selection)]="selectedNodes">
            </p-tree> 
          </div>
          
          <!--Costo produccion--> 
          <div class="costo-produccion">
            <label for="costoProduccion" class="costo-label">Costo producción</label>
            <input
              id="costoProduccion"
              type="text"
              pInputText
              formControlName="costoProduccion"
              class="costo-input"
            />
          </div>

          <!--Panel gastos--> 
          <p-panel class="gastos-panel" [toggleable]="false">
            <div class="gastos-panel-t">Gastos administrativos</div>
            <div class="gastos-panel-b"></div>
          </p-panel>

        </div> 
      </p-fieldset> 
    </div> 

    <!--Lado Derecho--> 
    <div class="flex flex-col gap-5 min-w-0"> 
      <p-fieldset class="w-full" styleClass="fieldset-no-legend" [legend]="''">

        <!--Produccion--> 
        <div class="produccion-titulo">Materia Prima</div>
        <div class="materia-caja">

            <!--Cantera--> 
            <div class="materia-colum">
                <label class="materia-label">Cantera</label>
                 <p-dropdown
                 class="w-full"
                 [options]="canteras"
                 formControlName="mp1"
                 optionLabel="name"
                 placeholder="Seleccione"
                 [showClear]="true">
                </p-dropdown>
            </div>

            <!--Tipo--> 
            <div class="materia-colum">
                <label class="materia-label">Tipo Bloque</label>
                <p-dropdown
                class="w-full"
                [options]="tipos"
                formControlName="mp2"
                optionLabel="name"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>
            
            <!--Calidad--> 
            <div class="materia-column">
                <label class="materia-label">Color</label>
                <p-dropdown
                class="w-full"
                [options]="calidades"
                formControlName="mp3"
                optionLabel="name"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>
        </div>

      </p-fieldset>
    </div> 
  </div> 
</form>