<form [formGroup]="formGroup">
  <div class="grid grid-cols-1 lg:grid-cols-[360px_1fr] gap-6 items-start"> 
    
    <!--Lado Izquierdo--> 
    <div class="flex flex-col gap-5 min-w-0"> 

      <p-fieldset class="w-full block" styleClass="fieldset-no-legend" [legend]="''">
        
        <!--Producción--> 
        <div class="produccion-titulo">Tipo envio</div>
        
        <div class="produccion-box"> 

          <p-dropdown
          [options]="tiposEnvio"
          formControlName="tipoEnvio"
          optionLabel="descripcion"
          placeholder="Seleccione"
          [showClear]="true">
          </p-dropdown>
          
          
          <div class="produccion-titulo">Producción</div> 

            <!--Dropdown list--> 
          <div class="droplist"> 
            <p-dropdown 
              [options]="producciones" 
              formControlName="produccionElegida"
              optionLabel="descripcion" 
              placeholder="Seleccione" 
              [showClear]="true"> 
            </p-dropdown> 
          </div> 
          
           <!--Checkbox--> 
          <div class="checkbox">
            <p-tree 
              [value]="treeNodes" 
              selectionMode="checkbox"
              [(selection)]="selectedNodes"
              (selectionChange)="onTreeSelectChange($event)">
            </p-tree> 
          </div>
          
          <!--Costo produccion--> 
          <div class="costo-produccion">
            <label for="costoProduccion" class="costo-label">Costo producción</label>
            <input
              id="costoProduccion"
              type="text"
              pInputText
              formControlName="costoProduccion"
              class="costo-input"
              readonly
            />
          </div>

          <!--Panel gastos--> 
          <p-panel class="panel" [toggleable]="false">
            <div class="panel-t">Gastos administrativos</div>
            <div class="panel-b"></div>
          </p-panel>

        </div> 
      </p-fieldset> 
    </div> 

    <!--Lado Derecho--> 
    <div class="flex flex-col gap-5 min-w-0"> 
      <p-fieldset class="w-full" styleClass="fieldset-no-legend" [legend]="''">

        <!--Materia prima--> 
        <div class="produccion-titulo">Materia Prima</div>
        <div class="materia-caja">

            <!--Cantera--> 
            <div class="materia-fil">
                <label class="materia-label">Cantera</label>
                 <p-dropdown
                 [options]="canteras"
                 formControlName="cantera"
                 optionLabel="descripcion"
                 placeholder="Seleccione"
                 [showClear]="true">
                </p-dropdown>
            </div>

            <!--Tipo--> 
            <div class="materia-fil">
                <label class="materia-label">Tipo Bloque</label>
                <p-dropdown
                [options]="tipos"
                formControlName="tipo"
                optionLabel="descripcion"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>
            
            <!--Color--> 
            <div class="materia-fil">
                <label class="materia-label">Color</label>
                <p-dropdown
                [options]="colores"
                formControlName="color"
                optionLabel="descripcion"
                placeholder="Seleccione"
                [showClear]="true">
               </p-dropdown>
            </div>

             <!--Costo materia prima--> 
             <div class="costo-ma">
              <label for="costoMateria" class="costo-label">Costo Materia Prima</label>
              <input
              id="costoMateria"
              type="text"
              pInputText
              formControlName="costoMateriaPrima"
              class="costo-input"
              readonly
              />
             </div>

              <!--Checkbox--> 
              <div class="checkbox-em">
                <div class="embalaje-titulo">Embalaje</div>
                  <div class="embalaje-list">

                    <!--Item 1--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeJava" 
                      inputId="embalajeJava"
                      binary="true">
                      </p-checkbox>
                     <label for="embalajeJava">{{ embalajes[0]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 2--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCarton" 
                      inputId="embalajeCarton"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCarton">{{ embalajes[1]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 3--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCajaMadera" 
                      inputId="embalajeCajaMadera"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCajaMadera">{{ embalajes[2]?.descripcion }}</label>
                    </div>
                    
                    <!--Item 4--> 
                    <div class="embalaje-item">
                      <p-checkbox 
                      formControlName="embalajeCaballete" 
                      inputId="embalajeCaballete"
                      binary="true">
                      </p-checkbox>
                      <label for="embalajeCaballete">{{ embalajes[3]?.descripcion }}</label>
                    </div>
                  </div>
                </div>
              
              <!--Panel exn-fab--> 
              <p-panel class="panel" [toggleable]="false">
                <div class="panel-t">exn-fab</div>
                <div class="panel-b"></div>
              </p-panel>
              
              <!--Panel flete--> 
              <p-panel class="panel" [toggleable]="false">
                <div class="panel-t">Flete</div>
                <div class="panel-b"></div>
              </p-panel>
            </div>

      </p-fieldset>
    </div> 
  </div> 
</form>