:host ::ng-deep .fieldset-no-legend .p-fieldset-legend {
  display: none !important;
}

:host ::ng-deep .fieldset-no-legend .p-fieldset-content {
  width: 100% !important;
  padding-top: 1rem !important; 
}

.produccion-titulo {
  font-weight: 600;
  margin-bottom: 10px;
}

.produccion-box {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.checkbox {
  margin-bottom: 20px; 
}

.costo-produccion {
  display: grid;
  grid-template-columns: 140px 180px;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.costo-ma {
  display: grid;
  grid-template-columns: 140px 180px;
  align-items: center;
  gap: 16px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.costo-label {
  font-weight: 600;
  white-space: nowrap;
}

:host ::ng-deep .costo-input.p-inputtext {
  width: 180px;
}

:host ::ng-deep .panel.p-panel {
  border-width: 2px !important;
  border-style: solid;
}


:host ::ng-deep .panel .p-panel-header {
  display: none !important;
}

:host ::ng-deep .panel .p-panel-content {
  padding: 1rem !important; 
}

.panel-t {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.panel-b {
  height: 8rem; 
  background: white; 
}

.materia-caja {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.materia-fil{
  display: grid;
  grid-template-columns: 110px 1fr; /* ancho label */
  align-items: center;
  gap: 12px; /* espacio entre label y dropdown */
}

.materia-label {
  font-weight: 500;
  white-space: nowrap;
}

:host ::ng-deep .mm .p-dropdown {
  width: 100% !important;
}

.checkbox-em{
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  padding: 12px;
  margin-top: 16px; 
  background: #fff;
}

.embalaje-titulo{
  font-weight: 600;
  margin-bottom: 10px;
}

.embalaje-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.embalaje-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

/* organizacion en formato celular */
@media (max-width: 640px) {
  .costo-produccion {
    grid-template-columns: 1fr;
  }

  :host ::ng-deep .costo-input.p-inputtext {
    width: 100%;
  }
}