:host ::ng-deep .p-button.p-button-text {
  border: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-inputtext.ng-invalid.ng-dirty {
  border-color: var(--surface-border) !important;
  box-shadow: none !important;
}

:host ::ng-deep .tbl-cotizaciones.p-datatable table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

:host ::ng-deep .tbl-cotizaciones.p-datatable th {
  padding: 4px 8px;
  font-size: 13px;
  text-align: center;
  line-height: 1.2; 
  vertical-align: middle;
}

:host ::ng-deep .tbl-cotizaciones.p-datatable td {
  padding: 3px 8px;
  font-size: 11px;
  text-align: center;
  word-wrap: break-word;
  vertical-align: middle; 
}


.th-left, .td-left   { text-align: left !important; }
.th-right, .td-right { text-align: right !important; }
.th-center, .td-center { text-align: center !important; }

.botones-top{
  gap: 20px;
}

.rows-right{
  margin-left: auto;
  width: fit-content;
}

.top-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.rows-right{
  margin-left: auto;
  width: fit-content;
}
